<div class="container loan">
  <form ng-submit="vm.onSubmit()" ng-if="!vm.pollingStatus" novalidate>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Name" ng-model="vm.model.name">
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="phone" class="form-control" id="phone" placeholder="Phone" ng-model="vm.model.phone">
    </div>
    <div class="form-group">
      <label for="iban">IBAN</label>
      <input type="text" class="form-control" id="iban" placeholder="IBAN" ng-model="vm.model.iban">
    </div>
    <div class="form-group">
      <label for="amount">Amount</label>
      <rzslider id="amount" rz-slider-model="vm.model.amount" rz-slider-options="vm.sliderOptions"></rzslider>
    </div>
    <div class="form-group">
      <label for="return">Return Date</label>
      <p class="input-group">
        <input type="text" class="form-control" id="return" uib-datepicker-popup
               is-open="vm.datePickerOpened" show-button-bar="false" ng-model="vm.model.return">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="vm.open()"><i
            class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">Amount to return</div>
      <div class="panel-body">
        €{{vm.amountToReturn}}
      </div>
    </div>
    <ul class="list-group" ng-if="vm.errors.length > 0">
      <li class="list-group-item list-group-item-danger" ng-repeat="error in vm.errors">{{error}}</li>
    </ul>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>

  <div class="loan-polling jumbotron" ng-if="vm.pollingStatus">
    <div ng-if="!vm.status">
      <h3 class="text-center">We are processing your application</h3>
      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
    </div>
    <div ng-if="vm.status" class="text-center">
      <h3 class="">Your application has been</h3>
      <p class="text-uppercase" ng-class="{'text-success': vm.status === 'approved', 'text-danger': vm.status === 'rejected'}">{{vm.status}}</p>
      <button type="button" class="btn btn-default" ng-click="vm.pollingStatus = false">{{vm.status === 'approved' ? 'I want more!' : 'Try again'}}</button>
    </div>
  </div>
</div>
